    /* Css Reset */
    body {
        font-family: 'Baloo Bhaijaan 2', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        background: url('img/gym1.jpg');
        /* overflow: hidden;; */
    }

    .left {
        /* border: 2px solid white; */
        display: inline-block;
        position: absolute;
        left: 40px;
        top: 20px;
    }

    .left img {

        width: 100px;
        height: 90px;
        filter: invert(100%);

    }

    .left div {
        line-height: 20px;
        font-size: 20px;
        text-align: center;
    }

    .Mid {
        /* border: 2px solid rgb(61, 35, 155); */
        display: block;
        width: 33%;
        margin: 20px auto;
        font-size: 20px;

    }

    .right {
        /* border: 4px solid rgb(35, 209, 78); */
        display: inline-block;
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        font-size: 20px;

    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 34px 23px;
    }

    .navbar li a:hover,
    .navbar li a.active {

        text-decoration: underline;
        color: rgb(221, 207, 207);
    }

    .btn {
        font-family: 'Baloo Bhaijaan 2', cursive;
        margin: 0px 10px;
        color: white;
        background-color: black;
        padding: 4px 14px;
        border: 2px solid gray;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;

    }

    .btn:hover {
        background-color: rgb(36, 34, 34);
    }

    .container {
        font-family: 'Baloo Bhaijaan 2', cursive;
        border: 2px solid white;
        margin: 80px 50px;
        padding: 50px;
        width: 30%;
        border-radius: 30px;
    }

    .form-group input {
        border: 2px solid black;
        margin: 11px auto;
        text-align: center;
        display: block;
        width: 80%;
        padding: 1px;
        font-size: 25px;
        border-radius: 10px;
        font-family: 'Baloo Bhaijaan 2', cursive;
        ;



    }

    .container h1 {
        text-align: center;
        font-size: 40px;
    }

    .container button {
        display: block;
        margin: 30px auto;
        width: 48%;
        font-size: 25px;

    }